.gutter-example{
  margin-bottom: 20px;
}
.case-content {
  position: relative;
  box-shadow: -2px 0 5px -1px rgba(0,0,0,0.3), 0 20px 20px -20px rgba(0,0,0,0.6), 2px 0 5px -1px rgba(0,0,0,0.3);
  /*//左边阴影 //顶部阴影 //底部阴影 //右边阴影*/
}
.gutter-box1 {
  padding: 8px 0;
  /*border-radius: 10px;*/
  text-align: center;

}
.gutter-box-text1 {
  /*margin-left: 30px;*/
  /*color: white;*/
  font-size: 25px;
  color: #1890ff;
  /*background-color: #cccccc;*/
  /*background-color: burlywood;*/

}
.gutter-box-text2 {
  /*margin-left: 40px;*/
  /*color: white;*/
  font-size: 16px;
  /*background-color: #1890ff;*/
  /*margin-top: 20px;*/
  color: #cccccc;
}
.mini{
  /*height:100px;*/
  /*width: 300px;*/
  /*margin-left: 30px;*/
  /*margin-left: 20%;*/
  /*background-color:transparent;*/
  /*margin-top: 30px;*/
  /*color: #1890ff;*/
}
/*.echarts{*/
/*  height: 350px;*/
/*}*/
p{
  text-indent: 25px;
}

