<div style="padding-left: 10px;padding-right: 10px">


  <div nz-row class="gutter-example">
    <div nz-col class="gutter-row">
      <div class="inner-box case-content">

        <div nz-row style="background-color: #cccccc">
          <h1 style="text-align: center;">区域发展状况的关联分析</h1>
        </div>
        <div nz-row [nzGutter]="16">
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">

              <nz-table
                  #dynamicTable
                  nzBordered
                  [nzData]="graph.links"
                  [(nzPageSize)]="pageSize"
                  [nzHideOnSinglePage]="true"
                  [nzFooter]="'A、B、C为GDP增速的低、中、高三类等级；D、E、F为居民用电量增速的低、中、高三类等级；' +
                   'G、H、I为第二产业用电量增速的低、中、高三类等级；J、K、L为绿色能源发电占比增速的低、中、高三类等级；' +
                    'M、N、O为火力发电占比增速的低、中、高三类等级；P、Q、R为风力发电占比增速的低、中、高三类等级；' +
                     'S、T、U为水力发电占比增速的低、中、高三类等级；V、W、X为太阳能发电占比增速的低、中、高三类等级；' +
                      'Y、Z、h为核能发电占比增速的低、中、高三类等级。'"
                  [nzScroll]="fixHeader ? { y: '500px' } : null"
              >
                <thead>
                <tr>
                  <th nzWidth="100px">项集1</th>
                  <th nzWidth="100px">项集2</th>
                  <th nzWidth="100px">关联度</th>
                  <th nzWidth="100px">可信度</th>
                </tr>
                </thead>
                <tbody>
                <ng-template  ngFor let-data [ngForOf]="dynamicTable.data">
                  <tr>
<!--                    <td><a  (click)="singletableGraph(data.source )">{{ data.source }}</a></td>-->
<!--                    <td><a (click)="singletableGraph2(data.target )">{{ data.target }}</a></td>-->
                    <td>{{ data.source }}</td>
                    <td>{{ data.target }}</td>
                    <td>{{ data.Support }}</td>
                    <td>{{ data.Confidence }}</td>
                  </tr>
                </ng-template>
                </tbody>
              </nz-table>

            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">

              <div class="echarts" echarts [options]="option_table_graph"></div>
              <div nz-row style="padding-left: 40px;padding-right: 20px">
                <p>
                  基于关联规则挖掘的Apriori算法，对影响重点行政区域发展状况评价的各个影响因素进行深度分析，发现各地区GDP低增速与第二产业用电量低增速、用户均用电量低增速、风力发电占比低增速、水力发电占比低增速有较强的关联，并且具有较强的可信度。
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>

