<!--需求-->
<div style="padding-left: 10px;padding-right: 10px">

  <div class="case-content">
    <h2 style="text-align: center;background-color: #cccccc"><img src="../../../assets/img/xuqiu.png" height="32" width="32"/>相关需求</h2>
    <div style="padding-left: 10px;padding-right: 10px;">
      <div >
        <div nz-row nzGutter="24">
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row class="case-content1">
              <div class="echarts" echarts [options]="option_house"></div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row class="case-content1">
              <div class="echarts" echarts [options]="option_solid"></div>
            </div>
          </div>
        </div>
        <div nz-row nzGutter="24">
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row>
              <p>
                从图中可以看出，从2017年四季度以来，房地产开发投资完成额同比呈上升趋势，但是在“房住不炒”的大背景下，预计不会出
                现较大幅度的上升。
              </p>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row>
              <p>
                固定资产投资完成额：设备工器具购置从2019年开始处于缓慢下降趋势，新冠疫情加剧了下降趋势；而固定资产投资完成额:
                建筑安装工程则呈现了缓慢上升趋势，但是新冠疫情打破了这种上升趋势，转升为降。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="gutter-example">
        <div nz-row nzGutter="24">
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row class="case-content1">
              <div class="echarts" echarts [options]="option_yiled1"></div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row class="case-content1">
              <div class="echarts" echarts [options]="option_yiled2"></div>
            </div>
          </div>
        </div>
        <div nz-row nzGutter="24">
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row>
              <p>
                整体而言全国电冰箱、冰柜、家用洗衣机、微波炉产量在2019年都处于相对平稳的态势，但是受到新冠疫情的影响，都出现了
                断崖式的下滑，预计随着全国复产复工的陆续开展及国家扩大内需、刺激消费等宏观经济政策的颁布，相关产量将恢复常态化。
              </p>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="12">
            <div nz-row>
              <p>
                其中，水泥和钢材为互补品，通常认为对水泥需求的增加也会导致对钢材的增加，而汽车、挖掘机、金属切削机床、工业机器
                人等产品均需要大量的钢材作为原材料。从图中可以发现，整体而言水泥、汽车、挖掘机、金属切削机床、工业机器人产量在
                2019年都处于相对平稳的态势，但是受到新冠疫情的影响，都出现了断崖式的下滑，预计随着全国复产复工的陆续开展，相关
                产量将恢复常态化。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div nz-row>
    <p>
      从下游产品需求端来看，虽然房地产开发投资完成额未出现较大幅度下滑，但是，固定资产投资完成额：设备工器具购置、建筑安装工
      程、汽车产量、挖掘机产量、金属切削机床产量、工业机器人产量、水泥产量、主要家用电器产量（电冰箱、冰柜、洗衣机、微波炉）
      等指标均出现较大幅度下滑，从而使钢铁行业面临困境，钢材需求减少，钢价出现下跌。
    </p>
    <p>
      乐观估计，随着国内新冠疫情步入尾声，国家宏观层面将会出台相关拉动内需、刺激消费等宏观政策，钢铁行业在需求端将出现较大幅度
      增长，钢价回升短期可期。中期来看，钢铁行业盈利情况将有所改善。
    </p>
  </div>

</div>

