.gutter-example{
  margin-bottom: 20px;
}
.case-content {
  position: relative;
  box-shadow: -2px 0 5px -1px rgba(0,0,0,0.3), 0 20px 20px -20px rgba(0,0,0,0.6), 2px 0 5px -1px rgba(0,0,0,0.3);
  /*//左边阴影 //顶部阴影 //底部阴影 //右边阴影*/
}
.case-content1 {
  position: relative;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  -o-box-shadow:0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
}
.echarts{
  height: 360px;
}
