<div style="padding-left: 10px;padding-right: 10px">

  <div class="gutter-example ">
    <div nz-row nzGutter="16">
      <!--    成本-->
      <div nz-col class="gutter-row" [nzSpan]="16">
        <div class="inner-box case-content1">
          <h2 style="text-align: center;background-color: #cccccc">辽宁省钢铁行业总用电量预测</h2>
          <div nz-row>
            <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
              <div class="gutter-box1">
                <div class="gutter-box-text2">
                  2020年6月
                </div>
                <div class="gutter-box-text1">
                  21.68<span style="color: black;font-size: 16px;margin-left: 5px">亿千瓦时</span>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
              <div class="gutter-box1">
                <div class="gutter-box-text2">
                  2020年
                </div>
                <div class="gutter-box-text1">
                  259.65<span style="color: black;font-size: 16px;margin-left: 5px">亿千瓦时</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--   成本 -->
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box case-content1">
          <h2 style="text-align: center;background-color: #cccccc">辽宁省钢材总产量预测</h2>
          <div nz-row>
            <div nz-col nzSpan="24">
              <div class="gutter-box1">
                <div class="gutter-box-text2">
                  2020年6月
                </div>
                <div class="gutter-box-text1">
                  596.80<span style="color: black;font-size: 16px;margin-left: 5px">万吨</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="gutter-example ">
    <div nz-row nzGutter="16">
      <!--    成本-->
      <div nz-col class="gutter-row" [nzSpan]="16">
        <div class="inner-box case-content1">
          <div nz-row>
            <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
              <div class="echarts">
                <h2 style="text-align: center;background-color: #cccccc">钢铁行业月总用电量</h2>
                <div class="gutter-box1">
                  <div nz-row class="gutter-box-text2">
                    <div nz-col nzSpan="6">时间</div>
                    <div nz-col nzSpan="6">真实值</div>
                    <div nz-col nzSpan="6">预测值</div>
                    <div nz-col nzSpan="6">误差值</div>
                  </div>
                  <div nz-row  *ngFor="let data of listOfData" class="gutter-box-text">
                    <div nz-col nzSpan="6"> {{ data.key }}</div>
                    <div nz-col nzSpan="6">{{ data.name }}</div>
                    <div nz-col nzSpan="6">{{ data.age }}</div>
                    <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                      src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                    <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                      src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <div class="echarts">
                <h2 style="text-align: center;background-color: #cccccc">钢铁行业年总用电量</h2>
                <div class="gutter-box1">
                  <div nz-row class="gutter-box-text2">
                    <div nz-col nzSpan="6">时间</div>
                    <div nz-col nzSpan="6">真实值</div>
                    <div nz-col nzSpan="6">预测值</div>
                    <div nz-col nzSpan="6">误差值</div>
                  </div>
                  <div nz-row  *ngFor="let data of listOfData1" class="gutter-box-text">
                    <div nz-col nzSpan="6"> {{ data.key }}</div>
                    <div nz-col nzSpan="6">{{ data.name }}</div>
                    <div nz-col nzSpan="6">{{ data.age }}</div>
                    <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                      src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                    <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                      src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
              <div class="echarts" echarts [options]="option_forecast1"></div>
            </div>
            <div nz-col nzSpan="12">
              <div class="echarts" echarts [options]="option_forecast2"></div>
            </div>
          </div>
        </div>
      </div>
      <!--   成本 -->
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box case-content1">

          <div nz-row  class="echarts">
            <div nz-col nzSpan="24">
              <h2 style="text-align: center;background-color: #cccccc">钢材总产量</h2>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData2" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="echarts" echarts [options]="option_forecast3"></div>
        </div>
      </div>

    </div>
  </div>

</div>




