<div class="gutter-example ">
  <div nz-row nzGutter="16">
    <!--    成本-->
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box case-content1">
        <h2 style="text-align: center">辽宁省钢铁行业总用电量预测</h2>
        <div nz-row>
          <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年6月
              </div>
              <div class="gutter-box-text1">
                21.68<span style="color: black;font-size: 16px;margin-left: 5px">亿千瓦时</span>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12" style="border-right:1px #e1e1e1 solid ">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年
              </div>
              <div class="gutter-box-text1">
                259.65<span style="color: black;font-size: 16px;margin-left: 5px">亿千瓦时</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   成本 -->
    <div nz-col class="gutter-row" [nzSpan]="4">
      <div class="inner-box case-content1">
        <h2 style="text-align: center">辽宁省钢材总产量预测</h2>
        <div nz-row>
          <div nz-col nzSpan="24">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年6月
              </div>
              <div class="gutter-box-text1">
                596.80<span style="color: black;font-size: 16px;margin-left: 5px">万吨</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    成本-->
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content1">
        <h2 style="text-align: center">辽宁省重点钢铁行业上市公司股票价格预测</h2>
        <div nz-row>
          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年6月鞍山钢铁股价
              </div>
              <div class="gutter-box-text1">
                3.35<span style="color: black;font-size: 16px;margin-left: 5px">元</span>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年6月本溪钢铁股价
              </div>
              <div class="gutter-box-text1">
                3.38<span style="color: black;font-size: 16px;margin-left: 5px">元</span>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div class="gutter-box1">
              <div class="gutter-box-text2">
                2020年6月凌源钢铁股价
              </div>
              <div class="gutter-box-text1">
                4.59<span style="color: black;font-size: 16px;margin-left: 5px">元</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gutter-example ">
  <div nz-row nzGutter="16">
    <!--    成本-->
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box case-content1">
        <div nz-row  style="border-bottom:1px #e1e1e1 solid ">
          <div nz-col nzSpan="12">
            <div class="echarts">
              <h3 style="text-align: center;line-height: 50px">钢铁行业月总用电量</h3>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="echarts" echarts [options]="option_forecast1"></div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="12">
            <div class="echarts">
              <h3 style="text-align: center;line-height: 50px">钢铁行业年总用电量</h3>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData1" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="12">
            <div class="echarts" echarts [options]="option_forecast2"></div>
          </div>
        </div>
      </div>
    </div>
    <!--   成本 -->
    <div nz-col class="gutter-row" [nzSpan]="4">
      <div class="inner-box case-content1">
        <div class="echarts" echarts [options]="option_forecast3"></div>
        <div nz-row  class="echarts">
          <div nz-col nzSpan="24">
            <h3 style="text-align: center;line-height: 50px">钢材总产量</h3>
            <div class="gutter-box1">
              <div nz-row class="gutter-box-text2">
                <div nz-col nzSpan="6">时间</div>
                <div nz-col nzSpan="6">真实值</div>
                <div nz-col nzSpan="6">预测值</div>
                <div nz-col nzSpan="6">误差值</div>
              </div>
              <div nz-row  *ngFor="let data of listOfData2" class="gutter-box-text">
                <div nz-col nzSpan="6"> {{ data.key }}</div>
                <div nz-col nzSpan="6">{{ data.name }}</div>
                <div nz-col nzSpan="6">{{ data.age }}</div>
                <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                  src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                  src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    成本-->
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content1">
        <div nz-row >
          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">
            <div  class="echarts">
              <h3 style="text-align: center;line-height: 50px">鞍山钢铁股价</h3>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData3" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
            <div class="echarts" echarts [options]="option_forecast4"></div>
          </div>
          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">
            <div class="echarts" echarts [options]="option_forecast5"></div>
            <div  class="echarts">
              <h3 style="text-align: center;line-height: 50px">本溪钢铁股价</h3>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData4" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div  class="echarts">
              <h3 style="text-align: center;line-height: 50px">凌源钢铁股价</h3>
              <div class="gutter-box1">
                <div nz-row class="gutter-box-text2">
                  <div nz-col nzSpan="6">时间</div>
                  <div nz-col nzSpan="6">真实值</div>
                  <div nz-col nzSpan="6">预测值</div>
                  <div nz-col nzSpan="6">误差值</div>
                </div>
                <div nz-row  *ngFor="let data of listOfData5" class="gutter-box-text">
                  <div nz-col nzSpan="6"> {{ data.key }}</div>
                  <div nz-col nzSpan="6">{{ data.name }}</div>
                  <div nz-col nzSpan="6">{{ data.age }}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address < 0" style="color: red"><img
                    src="../../../assets/img/down.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                  <div nz-col nzSpan="6" *ngIf="data.address >= 0" style="color: limegreen"><img
                    src="../../../assets/img/up.png" height="16" width="16"/>{{ data.address + '%'}}</div>
                </div>
              </div>
            </div>
            <div class="echarts" echarts [options]="option_forecast6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="gutter-example case-content1">-->
<!--  <div nz-row nzGutter="16">-->
<!--    &lt;!&ndash;    成本&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--      <div class="inner-box">-->
<!--&lt;!&ndash;        <h2 style="text-align: center">辽宁省钢铁行业总用电量与钢材总产量预测</h2>&ndash;&gt;-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <div class="gutter-box1">-->
<!--              <h3 style="text-align: center">钢铁行业月总用电量</h3>-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <h3 style="text-align: center">钢铁行业年总用电量</h3>-->
<!--            <div class="gutter-box1">-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData1" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <h3 style="text-align: center">钢材总产量</h3>-->
<!--            <div class="gutter-box1">-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData2" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;    成本&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--      <div class="inner-box">-->
<!--&lt;!&ndash;        <h2 style="text-align: center">辽宁省重点钢铁行业上市公司股票价格预测</h2>&ndash;&gt;-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <h3 style="text-align: center">鞍山钢铁股价</h3>-->
<!--            <div class="gutter-box1">-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData3" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <h3 style="text-align: center">本溪钢铁股价</h3>-->
<!--            <div class="gutter-box1">-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData4" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <h3 style="text-align: center">凌源钢铁股价</h3>-->
<!--            <div class="gutter-box1">-->
<!--              <div nz-row class="gutter-box-text2">-->
<!--                <div nz-col nzSpan="6">时间</div>-->
<!--                <div nz-col nzSpan="6">真实值</div>-->
<!--                <div nz-col nzSpan="6">预测值</div>-->
<!--                <div nz-col nzSpan="6">误差值</div>-->
<!--              </div>-->
<!--              <div nz-row  *ngFor="let data of listOfData5" class="gutter-box-text">-->
<!--                <div nz-col nzSpan="6"> {{ data.key }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.name }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.age }}</div>-->
<!--                <div nz-col nzSpan="6">{{ data.address }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="gutter-example">-->
<!--  <div nz-row nzGutter="16">-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="wanzheng case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast1"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="rongyu case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast2"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="yizhi case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast3"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="wanzheng case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast4"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="rongyu case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast5"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div nz-col class="gutter-row" nzSpan="4">-->
<!--      <div nz-row class="yizhi case-content1">-->
<!--        <div class="echarts" echarts [options]="option_forecast6"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

