<!--*ngIf= "isLogged; else falsyTemplate;"-->
<nz-layout  class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" (click)="isCollapsed = !isCollapsed">
        <h1>钢铁钢业运营分析系统</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
     <li nz-submenu nzOpen nzTitle="钢铁模块" nzIcon="dashboard">
      <ul>
        <li nz-menu-item nzMatchRouter (click)="newTab('钢铁行业相关需求')">
          <a routerLink="/demand" (click)="newTab('钢铁行业相关需求')">钢铁行业相关需求</a>
        </li>
        <li nz-menu-item nzMatchRouter (click)="newTab('供给与价格')">
          <a routerLink="/supply" (click)="newTab('供给与价格')">供给与价格</a>
        </li>
        <li nz-menu-item nzMatchRouter (click)="newTab('用电量与产量预测')">
          <a routerLink="/forecast1" (click)="newTab('用电量与产量预测')">用电量与产量预测</a>
        </li>
        <li nz-menu-item nzMatchRouter (click)="newTab('股票价格预测')">
          <a routerLink="/forecast2" (click)="newTab('股票价格预测')">股票价格预测</a>
        </li>
      </ul>
    </li>
      <li nz-submenu nzTitle="区域模块" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter (click)="newTab('区域发展总体经济情况')">
            <a routerLink="/eco-GDP" (click)="newTab('区域发展总体经济情况')">区域发展总体经济情况</a>
          </li>
          <li nz-menu-item nzMatchRouter (click)="newTab('区域发展电力消费情况')">
            <a routerLink="/eco-electric" (click)="newTab('区域发展电力消费情况')">区域发展电力消费情况</a>
          </li>
          <li nz-menu-item nzMatchRouter (click)="newTab('区域发展能源发展情况')">
            <a routerLink="/eco-energy" (click)="newTab('区域发展能源发展情况')">区域发展能源发展情况</a>
          </li>
          <li nz-menu-item nzMatchRouter (click)="newTab('区域发展数据聚类与预测情况')">
            <a routerLink="/eco-forecast" (click)="newTab('区域发展数据聚类与预测情况')">区域发展数据聚类与预测情况</a>
          </li>
          <li nz-menu-item nzMatchRouter (click)="newTab('区域发展数据关联情况')">
            <a routerLink="/eco-forecast-relation" (click)="newTab('区域发展数据关联情况')">区域发展数据关联情况</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
<!--    <nz-header>-->
<!--      <div class="app-header">-->
<!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
<!--            <i class="trigger"-->
<!--               nz-icon-->
<!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
<!--            ></i>-->
<!--        </span>-->
<!--        <img nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'" src="../assets/img/user.png" height="35" width="35" style="margin-left: 92%"/>-->
<!--        <nz-dropdown-menu #menu="nzDropdownMenu">-->
<!--          <ul nz-menu nzSelectable class="user-info">-->
<!--            <li nz-menu-item class="user-info-title" style="text-align: center">用户信息</li>-->
<!--            <li nz-menu-divider></li>-->
<!--            <li nz-menu-item>系统管理员</li>-->
<!--            <li nz-menu-item style="text-align: center">sa</li>-->
<!--            <li nz-menu-divider></li>-->
<!--            <li nz-menu-item style="text-align: center">-->
<!--              <a (click)="signOut()">-->
<!--                <img src="../assets/img/logout.png" height="16" width="16"/>-->
<!--                退出-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nz-dropdown-menu>-->
<!--      </div>-->
<!--    </nz-header>-->
    <nz-content>
      <div class="inner-content">
        <nz-tabset [nzType]="'card'"  [nzSelectedIndex]="index">
          <nz-tab style="width: 100px" *ngFor="let tab of tabs" [nzTitle]="titleTemplate"  >
            <ng-template #titleTemplate>
              <div style="margin: auto">
                {{ tab }}
                <i nz-icon nzType="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
              </div>
            </ng-template>
            <app-demand *ngIf="tab =='钢铁行业相关需求'"></app-demand>
            <app-supply *ngIf="tab =='供给与价格'"></app-supply>
            <app-forecast1 *ngIf="tab =='用电量与产量预测'"></app-forecast1>
            <app-forecast2 *ngIf="tab =='股票价格预测'"></app-forecast2>
            <app-economics *ngIf="tab =='区域发展总体经济情况'"></app-economics>
            <app-electric *ngIf="tab =='区域发展电力消费情况'"></app-electric>
            <app-energy *ngIf="tab =='区域发展能源发展情况'"></app-energy>
            <app-eco-forecast *ngIf="tab =='区域发展数据聚类与预测情况'"></app-eco-forecast>
            <app-eco-relation *ngIf="tab =='区域发展数据关联情况'"></app-eco-relation>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #falsyTemplate>
  <div class="background-content">
    <app-login (loginMsg)="getLoginMsg($event)"></app-login>
<!--    <app-login (loginMsg)="getLoginMsg($event)" ></app-login>-->
  </div>
</ng-template>
