.gutter-example{
  margin-bottom: 20px;
}
.case-content1 {
  position: relative;
  box-shadow: -2px 0 5px -1px rgba(0,0,0,0.3), 0 20px 20px -20px rgba(0,0,0,0.6), 2px 0 5px -1px rgba(0,0,0,0.3);
  /*//左边阴影 //顶部阴影 //底部阴影 //右边阴影*/
}
.echarts{
  height: 270px;
}
.gutter-box1 {
  padding: 8px 0;
  text-align: center;
  line-height: 40px;

}
.gutter-box-text {
  font-size: 14px;
  color: #1890ff;

}
.gutter-box-text1 {
  font-size: 25px;
  color: #1890ff;

}
.gutter-box-text2 {
  font-size: 16px;
  color: #cccccc;
}
.inner-box{
  padding-bottom: 20px;
}
