.gutter-example{
  margin-bottom: 15px;
}
.gutter-example1{
  padding: 10px;
}
.case-content {
  position: relative;
  box-shadow: -2px 0 5px -1px rgba(0,0,0,0.3), 0 20px 20px -20px rgba(0,0,0,0.6), 2px 0 5px -1px rgba(0,0,0,0.3);
  /*//左边阴影 //顶部阴影 //底部阴影 //右边阴影*/

}
.case-content1 {
  position: relative;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
  -o-box-shadow:0 1px 10px rgba(0,0,0,0.1),0 0 10px rgba(0,0,0,0.1) inset;
}
.echarts{
  height: 230px;
}
.echarts1{
  height: 150px;
}
.gutter-box1 {
  text-align: center;
  padding-bottom: 5px;
}
.gutter-box-text1 {
  font-size: 25px;
  color: #1890ff;
  margin-top: 20px;
}
.gutter-box-text2 {
  font-size: 16px;
  color: rgba(0,0,0,0.5);
}
.mini{
  width: 100%;
  /*height: 50px;*/
}




.example-container {
  /*background-color: lightgreen;*/
  /*margin-top: 2px;*/
  /*height: 750px;*/
  /*overflow: auto;*/
}
.scroll-show{
  overflow-y: scroll;
}
.scroll-show::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.scroll-show::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}
.scroll-show::-webkit-scrollbar-thumb {
  width: 5px;
  /*height: 30px;*/
  border-radius: 3.5px;
  background-color: #D8D8D8;
}
.scroll-hide{
  overflow-y: scroll;
}
.scroll-hide::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.scroll-hide::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}
.scroll-hide::-webkit-scrollbar-thumb {
  width: 5px;
  /*height: 30px;*/
  border-radius: 3.5px;
  background:transparent;
}


.border-triangle-bottom {
  border: 1px solid #1d9cd6;
  position: relative;
  border-radius: 4px;
}
.border-triangle-bottom:after,
.border-triangle-bottom:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #1d9cd6;
  left: 50%;
  margin-left: -4px;
  bottom: -14px;
}
.border-triangle-bottom:after {
  /*border-top-color: #fff;*/
  bottom: -9px;
}

.border-triangle-bottom1 {
  border: 1px solid #1d9cd6;
  position: relative;
  border-radius: 4px;

  /*-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.1) inset;*/
  /*-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.1) inset;*/
  /*box-shadow: 0 1px 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.1) inset;*/
  /*-o-box-shadow:0 1px 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.1) inset;*/
}
.border-triangle-bottom1:after,
.border-triangle-bottom1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: #1d9cd6;
  left: 50%;
  margin-left: -4px;
  top: -14px;
}
.border-triangle-bottom1:after {
  /*border-bottom-color: #fff;*/
  /*width: 100%;*/
  top: -9px;
}

.border {
  border: 1px solid #1d9cd6;
  position: relative;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

