<div style="padding-left: 10px;padding-right: 10px">

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content">

        <div nz-row style="background-color: #cccccc">
          <h1 style="text-align: center;">辽宁省GDP发展趋势</h1>
        </div>
        <div nz-row class="gutter-example">

          <div nz-col nzSpan="24">
            <div class="echarts" echarts [options]="option_GDP"></div>
          </div>
        </div>

      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content">

        <div nz-row style="background-color: #cccccc">
          <h1 style="text-align: center">不同产业的GDP发展趋势</h1>
        </div>
        <div nz-row  class="gutter-example">

          <div nz-col nzSpan="8">
            <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">
              <div class="gutter-box-text2">
                第一产业
              </div>
              <div class="gutter-box-text1">
                <p *ngIf="first[8] < 0" style="color: red" ><img src="../../../assets/img/down.png" height="16"
                                                                 width="16"/>{{first[8].toFixed(3)}}</p>
                <p *ngIf="first[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"
                                                                       width="16"/>{{first[8].toFixed(3)}}</p>
                <!--                {{first[8].toFixed(3)}}-->
              </div>
              <div>
                <kendo-sparkline [data]="first" type="line" class="mini" [seriesColors]="seriesColors">
                </kendo-sparkline>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">
              <div class="gutter-box-text2">
                第二产业
              </div>
              <div class="gutter-box-text1">
                <p *ngIf="second[8] < 0" style="color: red"><img src="../../../assets/img/down.png" height="16"
                                                                 width="16"/>{{second[8].toFixed(3)}}</p>
                <p *ngIf="second[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"
                                                                        width="16"/>{{second[8].toFixed(3)}}</p>
                <!--                {{second[8].toFixed(3)}}-->
              </div>
              <div>
                <kendo-sparkline [data]="second" type="line" class="mini" [seriesColors]="seriesColors">
                </kendo-sparkline>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div class="gutter-box1 echarts">
              <div class="gutter-box-text2">
                第三产业
              </div>
              <div class="gutter-box-text1">
                <p *ngIf="third[8] < 0" style="color: red"><img src="../../../assets/img/down.png" height="16"
                                                                width="16"/>{{third[8].toFixed(3)}}</p>
                <p *ngIf="third[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"
                                                                       width="16"/>{{third[8].toFixed(3)}}</p>
                <!--                {{third[8].toFixed(3)}}-->
              </div>
              <div>
                <kendo-sparkline [data]="third" type="line" class="mini" [seriesColors]="seriesColors">
                </kendo-sparkline>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content">

        <div nz-row style="background-color: #cccccc">
          <h1 style="text-align: center">各市GDP</h1>
        </div>
        <div nz-row class="gutter-example">
          <div nz-col nzSpan="24">

            <div class="echarts" echarts [options]="option_GDP_city"></div>
          </div>
        </div>

      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box case-content">

        <div nz-row style="background-color: #cccccc">
          <h1 style="text-align: center">各市GDP增速</h1>
        </div>
        <div nz-row class="gutter-example">
          <div nz-col nzSpan="24">

            <div class="echarts" echarts [options]="option_GDP_cityRate"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<!--<div>-->

<!--  <div nz-row [nzGutter]="16">-->
<!--    &lt;!&ndash;  总体经济情况&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="5">-->
<!--      <div class="inner-box border case-content">-->

<!--        &lt;!&ndash;      第一行&ndash;&gt;-->
<!--        <div nz-row class="gutter-example">-->
<!--          <h2 style="text-align: center">辽宁省GDP发展趋势</h2>-->
<!--          <div nz-col nzSpan="24">-->
<!--            <div class="echarts" echarts [options]="option_GDP"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第二行&ndash;&gt;-->
<!--        <div nz-row  class="gutter-example">-->
<!--          <h2 style="text-align: center">不同产业的GDP发展趋势</h2>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--              <div class="gutter-box-text2">-->
<!--                第一产业-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                <p *ngIf="first[8] < 0" style="color: red" ><img src="../../../assets/img/down.png" height="16"-->
<!--                                                                 width="16"/>{{first[8].toFixed(3)}}</p>-->
<!--                <p *ngIf="first[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"-->
<!--                                                                       width="16"/>{{first[8].toFixed(3)}}</p>-->
<!--                &lt;!&ndash;                {{first[8].toFixed(3)}}&ndash;&gt;-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="first" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--              <div class="gutter-box-text2">-->
<!--                第二产业-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                <p *ngIf="second[8] < 0" style="color: red"><img src="../../../assets/img/down.png" height="16"-->
<!--                                                                 width="16"/>{{second[8].toFixed(3)}}</p>-->
<!--                <p *ngIf="second[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"-->
<!--                                                                        width="16"/>{{second[8].toFixed(3)}}</p>-->
<!--                &lt;!&ndash;                {{second[8].toFixed(3)}}&ndash;&gt;-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="second" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <div class="gutter-box1 echarts">-->
<!--              <div class="gutter-box-text2">-->
<!--                第三产业-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                <p *ngIf="third[8] < 0" style="color: red"><img src="../../../assets/img/down.png" height="16"-->
<!--                                                                width="16"/>{{third[8].toFixed(3)}}</p>-->
<!--                <p *ngIf="third[8] >= 0" style="color: limegreen"><img src="../../../assets/img/up.png" height="16"-->
<!--                                                                       width="16"/>{{third[8].toFixed(3)}}</p>-->
<!--                &lt;!&ndash;                {{third[8].toFixed(3)}}&ndash;&gt;-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="third" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第三行&ndash;&gt;-->
<!--        <div nz-row class="gutter-example">-->
<!--          <div nz-col nzSpan="24">-->
<!--            <h2 style="text-align: center">各市GDP</h2>-->
<!--            <div class="echarts" echarts [options]="option_GDP_city"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第四行&ndash;&gt;-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="24">-->
<!--            <h2 style="text-align: center">各市GDP增速</h2>-->
<!--            <div class="echarts" echarts [options]="option_GDP_cityRate"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;  电力消费情况&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="7">-->
<!--      <div class="inner-box border case-content">-->

<!--        &lt;!&ndash;      第一行&ndash;&gt;-->
<!--        <div nz-row class="gutter-example">-->
<!--          <div nz-col nzSpan="24">-->
<!--            <h2 style="text-align: center">居民电力消费情况</h2>-->
<!--            <div class="echarts" echarts [options]="option_electric"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第二行&ndash;&gt;-->
<!--        <div nz-row class="gutter-example">-->
<!--          <div nz-col nzSpan="24">-->
<!--            <h2 style="text-align: center">各市居民电力消费情况</h2>-->
<!--            <div class="echarts" echarts [options]="option_electric_city"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第三行&ndash;&gt;-->
<!--        <div nz-row [nzGutter]="16" class="gutter-example">-->
<!--          <h2 style="text-align: center">工业电力消费情况</h2>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_industry"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_industry_city"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第四行&ndash;&gt;-->
<!--        <div nz-row>-->
<!--          <h2 style="text-align: center">各市工业电力消费情况</h2>-->
<!--          <div nz-col nzSpan="24">-->
<!--            <div class="echarts" echarts [options]="option_industry_city1"></div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;  绿色能源发展情况&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--      <div class="inner-box border case-content">-->

<!--        &lt;!&ndash;      第一行&ndash;&gt;-->
<!--        <div nz-row [nzGutter]="16" class="gutter-example">-->
<!--          <h2 style="text-align: center">各发电方式发电量占比</h2>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="10">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row [nzGutter]="16">-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--                      <div class="gutter-box-text2">-->
<!--                        风电-->
<!--                      </div>-->
<!--                      <div class="gutter-box-text1" style="margin-bottom: 30px">-->
<!--                        {{wind[10].toFixed(4)*100 + '%'}}-->
<!--                      </div>-->
<!--                      <div>-->
<!--                        <kendo-sparkline [data]="wind" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                        </kendo-sparkline>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--                      <div class="gutter-box-text2">-->
<!--                        水电-->
<!--                      </div>-->
<!--                      <div class="gutter-box-text1" style="margin-bottom: 30px">-->
<!--                        {{water[10].toFixed(4)*100 + '%'}}-->
<!--                      </div>-->
<!--                      <div>-->
<!--                        <kendo-sparkline [data]="water" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                        </kendo-sparkline>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="4">-->
<!--            <div class="inner-box">-->
<!--              <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--                <div class="gutter-box-text2">-->
<!--                  火电-->
<!--                </div>-->
<!--                <div class="gutter-box-text1" style="margin-bottom: 30px">-->
<!--                  {{fire[10].toFixed(4)*100 + '%'}}-->
<!--                </div>-->
<!--                <div>-->
<!--                  <kendo-sparkline [data]="fire" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                  </kendo-sparkline>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="10">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row [nzGutter]="16">-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--                      <div class="gutter-box-text2">-->
<!--                        太阳能-->
<!--                      </div>-->
<!--                      <div class="gutter-box-text1" style="margin-bottom: 30px">-->
<!--                        {{sunlight[10].toFixed(4)*100 + '%'}}-->
<!--                      </div>-->
<!--                      <div>-->
<!--                        <kendo-sparkline [data]="sunlight" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                        </kendo-sparkline>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="gutter-box1 echarts" style="border-right:1px #e1e1e1 solid">-->
<!--                      <div class="gutter-box-text2">-->
<!--                        核电-->
<!--                      </div>-->
<!--                      <div class="gutter-box-text1" style="margin-bottom: 30px">-->
<!--                        {{nucleus[10].toFixed(4)*100 + '%'}}-->
<!--                      </div>-->
<!--                      <div>-->
<!--                        <kendo-sparkline [data]="nucleus" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                        </kendo-sparkline>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第二行&ndash;&gt;-->
<!--        <div nz-row class="gutter-example">-->
<!--          <h2 style="text-align: center">各城市各发电方式发电量占比</h2>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="9">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row >-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_wind_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_water_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="6">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_fire_city"></div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="9">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row >-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_sunlight_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_nucleus_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第三行&ndash;&gt;-->
<!--        <div nz-row [nzGutter]="16" class="gutter-example">-->
<!--          <h2 style="text-align: center">能源发电方式设备平均容量对比</h2>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_fire_equipment"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_green_equipment"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;      第四行&ndash;&gt;-->
<!--        <div nz-row >-->
<!--          <h2 style="text-align: center">各城市能源发电方式设备平均容量对比</h2>-->
<!--          <div nz-col class="gutter-row" [nzSpan]="9">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row >-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_wind_equipment_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_water_equipment_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="6">-->
<!--            <div class="inner-box">-->
<!--              <div class="echarts" echarts [options]="option_fire_equipment_city"></div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div nz-col class="gutter-row" [nzSpan]="9">-->
<!--            <div class="inner-box">-->

<!--              <div nz-row >-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_sunlight_equipment_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div nz-col class="gutter-row" [nzSpan]="12">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="echarts" echarts [options]="option_nucleus_equipment_city"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->












<!--&lt;!&ndash;(mouseenter) ="mouseEnterContent($event) " (mouseleave) ="mouseLeaveContent($event)" [class.scroll-show]="showContentScroll" [class.scroll-hide]="!showContentScroll"&ndash;&gt;-->
<!--<div class="example-container mat-elevation-z8" >-->

<!--&lt;!&ndash;需求&ndash;&gt;-->
<!--  <div class="border case-content">-->
<!--    <h2 style="text-align: center"><img src="../../../assets/img/xuqiu.png" height="32" width="32"/>相关需求</h2>-->
<!--    <div class="gutter-example">-->
<!--      <div nz-row nzGutter="16">-->
<!--        <div nz-col class="gutter-row" nzSpan="6">-->
<!--          <div nz-row class="wanzheng case-content1">-->
<!--            <div class="echarts" echarts [options]="option_house"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div nz-col class="gutter-row" nzSpan="6">-->
<!--          <div nz-row class="rongyu case-content1">-->
<!--            <div class="echarts" echarts [options]="option_solid"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div nz-col class="gutter-row" nzSpan="6">-->
<!--          <div nz-row class="yizhi case-content1">-->
<!--            <div class="echarts" echarts [options]="option_yiled1"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div nz-col class="gutter-row" nzSpan="6">-->
<!--          <div nz-row class="guanlian case-content1">-->
<!--            <div class="echarts" echarts [options]="option_yiled2"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--<div class="border case-content">-->
<!--  <div nz-row nzGutter="16">-->
<!--&lt;!&ndash;    成本&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="10">-->
<!--      <div class="inner-box">-->
<!--        <h2 style="text-align: center"><img src="../../../assets/img/cailiao.png" height="32" width="35"/>原材料成本</h2>-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                铁矿石价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                314.45-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="ironstone" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                国产铁矿石价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                311.75-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="domestic" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                进口铁矿石价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                314.96-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="entrance" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    价格style="border-right:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid "&ndash;&gt;-->
<!--    <div nz-col class="gutter-row border case-content" [nzSpan]="4">-->
<!--      <h2 style="text-align: center"><img src="../../../assets/img/jiage.png" height="25" width="25"/>钢铁价格</h2>-->
<!--      <div class="inner-box"  >-->
<!--        <div class="gutter-box1">-->
<!--          <div class="gutter-box-text2">-->
<!--            钢铁价格指数-->
<!--          </div>-->
<!--          <div class="gutter-box-text1">-->
<!--            101.19-->
<!--          </div>-->
<!--          <div>-->
<!--            <kendo-sparkline [data]="iron" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--            </kendo-sparkline>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    成本&ndash;&gt;-->
<!--    <div nz-col class="gutter-row" [nzSpan]="10">-->
<!--      <div class="inner-box">-->
<!--        <h2 style="text-align: center"><img src="../../../assets/img/cailiao.png" height="32" width="35"/>原材料成本</h2>-->
<!--        <div nz-row>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                硅锰价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                6975-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="silicon" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8" style="border-right:1px #e1e1e1 solid ">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                焦炭价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                1656-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="coke" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div nz-col nzSpan="8">-->
<!--            <div class="gutter-box1">-->
<!--              <div class="gutter-box-text2">-->
<!--                高碳铬铁价格指数-->
<!--              </div>-->
<!--              <div class="gutter-box-text1">-->
<!--                6000-->
<!--              </div>-->
<!--              <div>-->
<!--                <kendo-sparkline [data]="carbon" type="line" class="mini" [seriesColors]="seriesColors">-->
<!--                </kendo-sparkline>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;供给&ndash;&gt;-->
<!--  <div class="border case-content">-->
<!--    <h2 style="text-align: center"><img src="../../../assets/img/channeng.png" height="32" width="32"/>产能供给</h2>-->
<!--    <div class="gutter-example">-->
<!--      <div nz-row nzGutter="16">-->
<!--        <div nz-col class="gutter-row" nzSpan="8">-->
<!--          <div nz-row class="wanzheng case-content1">-->
<!--            <div class="echarts" echarts [options]="option_rate1"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div nz-col class="gutter-row" nzSpan="8">-->
<!--          <div nz-row class="rongyu case-content1">-->
<!--            <div class="echarts" echarts [options]="option_rate2"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div nz-col class="gutter-row" nzSpan="8">-->
<!--          <div nz-row class="yizhi case-content1">-->
<!--            <div class="echarts" echarts [options]="option_rate3"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
